.terms_condition {
  position: relative;
}

.terms_condition-content {
  padding: 0 130px 115px;
}

.terms_condition-text {
  margin-bottom: 45px;

  h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    color: #2E4577;
  }

  li {
    display: flex;

    i {
      line-height: 30px;
      margin-right: 15px;
      font-size: 13px;
      color: #AEAED5;
    }
  }

}